html,body{
	background-color: #EFEFF4;
}
.home-item li{
	width: 50%;
	margin-bottom: 15px;
}
.home-item li a {
	width: 85%;
	display: block;
	padding: 15px 1px 15px 1px;
	background-color: white;
	margin: auto;
	border-radius: 10px;
	box-shadow: 2px 3px 20px #ccc;
}
.home-item li .logo{
	width: 33%;
}
.home-item li a h3{
	font-size: 16px;
}