html,body{
	height: auto;
}
.infoframe{
	padding-left: 10px;
}
.goods-main ul{
	padding-bottom: 40px;
}
.goods-main ul:after{
	border-color: transparent;
}
.goods-main li:after{
	border-color: transparent;
}
.goods-main{
	margin-top: 15px;
}
.goods-main .list_{
	width: 96%;
	background-color: #F7F7F7;
	border: 1px solid #E4E4E4;
	box-shadow: 2px 2px 15px #E8E7E7;
	border-radius: 5px;
	padding: 0;
	margin:0 auto 10px;
}
.goods-main .list_ .list_title{
	font-size: 16px;
	line-height: 35px;
	text-align: left;
	padding-left: 15px;
	margin: 0;
}
.goods-main .list_ .list_box{
	width: 100%;
	padding: 5px 0;
}
.goods-main .list_ .list_box .list_data{
	width: 100%;
	padding-left: 15px;
	margin: 5px 0;
}
.goods-main .list_ .list_box .list_data span{
	font-size: 14px;
}